@import url("https://webgl2fundamentals.org/webgl/resources/webgl-tutorials.css");
body {
  margin: 0;
  background-color: #444;
  overflow: hidden;
}

canvas {
  margin: 1vh 1vw 1vh 1vw;
  width: 98vw;
  height: 98vh;
  display: block;
}
